.card-list {
    background-color: #0f0f0f;
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem black;
    transition: .3s;
    justify-content: space-between;

    a {
        width: 100%;
        text-decoration: none;

        img {
            width: 100%;
            transition: .3s;
            border-radius: 0.5rem;
        }

        img:hover {
            transform: scale(1.02);
        }
    }

    div {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.6rem;
        margin-top: 0.5rem;
    }

    span {
        margin-bottom: 0.6rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    button {
        border: none;
        padding: 0.5rem;
        font-weight: bold;
        border-radius: 0.3rem;
        background-color: #ee150e;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        transition: .3s;
        outline: none;
    }

    button:hover {
        border: 1px solid #ee150e;
        color: #ee150e;
        background-color: transparent;
    }
}

@media screen and (max-width: 645px) {
    .card-list {
        width: calc(90% / 2);

        div {
            font-size: 0.8rem;
        }

        span {
            font-size: 0.7rem;
        }

        button {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .card-list {
        width: 90%;

        div {
            font-size: 0.8rem;
        }

        span {
            font-size: 0.7rem;
        }

        button {
            font-size: 0.7rem;
        }
    }
}