.details-info {
    padding: 0.7rem;
    margin-top: 4.5rem;

    p {
        font-size: 1.3rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
    }

    .container-elements {
        display: flex;
        gap: 0.7rem;

        .element-info {
            background-color: black;
            padding: 1rem;
            height: 5rem;
            width: 14rem;
            border-radius: 0.5rem;
            box-shadow: 0px 0rem 5rem #ee150e8e;
            font-weight: bold;
            margin-top: 1.5rem;
            cursor: pointer;
            transition: .3s;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .element-info:hover {
            transform: scale(1.02);
        }

        
    }
    .overview {
        background-color: black;
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        box-shadow: 0px 0rem 5rem #ee150e8e;
        margin-top: 1.5rem;
        line-height: 2em;
        text-align: justify;
        cursor: pointer;
        transition: .3s;
    }

    .overview:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 1300px) {
    .details-info {
        .container-elements {
            flex-wrap: wrap;

            .element-info {
                flex: 1;
            }
        }
    }
}

@media screen and (max-width: 645px) {
    .details-info {
        p {
            font-size: 1rem;
        }

        .container-elements {
            .element-info {
                font-size: 0.9rem;
            }
        }

        .overview {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 395px) {
    .details-info {
        padding: 0;
        
        p {
            font-size: 0.8rem;
        }

        .container-elements {
            .element-info {
                font-size: 0.8rem;
            }
        }

        .overview {
            font-size: 0.8rem;
        }
    }
}