main {
    margin: 10px auto;
    padding: 10px;
    width: 90vw;
}

main > h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main #films-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}