#login-app {
    height: 100dvh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.849)), url('../img/687837.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#login-app > #header-container {
    text-align: center;
    display: block;
}

#login-app > #header-container > h1 {
    font-size: 54px;
}

main #app-container {
    background-color: black;
    padding: 24px;
    max-width: 300px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #9e9d9d;
}

main #app-container #outras_contas {
    width: 100%;
}

main #app-container #outras_contas .redes {
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: #ffffff;
    text-decoration: none;
    background-color: #a10e0923;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    gap: 40px;
    transition: .4s;
}

main #app-container #outras_contas .redes:hover {
    background-color: #a10e0969;
}

main #app-container #outras_contas .redes span {
    font-size: 12px;
    color: #9e9d9d;
}

main #app-container #outras_contas #conta img {
    width: 18px;
}

main #app-container #login h3 {
    text-align: center;
    font-size: 18px;
    margin: 13px 0 5px 0;
}

main #app-container #login a {
    color: #a10e09;
    font-size: 14px;
    transition: .4s;
}

main #app-container #login a:hover {
    color: #ee150e;
}

main #app-container #login #form-login > .campos {
    margin-bottom: 18px;
    width: 100%;
}

main #app-container #login #form-login > .campos > label {
    font-size: 12px;
}

main #app-container #login #form-login > .campos > #email {
    width: 100%;
    border: none;
    text-indent: 10px;
    height: 35px;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    color: #ffffff;
}

main #app-container #login #form-login > .campos > #email:focus {
    background-color: #f058528c;
    border: 1px solid #ee150e;
}

main #app-container #login #form-login > .campos > #password {
    width: 100%;
    border: none;
    text-indent: 10px;
    height: 35px;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    color: #ffffff;
}

main #app-container #login #form-login > .campos > #password:focus {
    background-color: #f058528c;
    border: 1px solid #ee150e;
}

main #app-container #login #form-login > .campos1 > #entrar {
    width: 100%;
    border: none;
    height: 24px;
    outline: none;
    height: 35px;
    margin-top: 5px;
    color: #ffffff;
    background-color: #ee150e;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    margin-bottom: 8px;
}

main #app-container #login #form-login > .campos1 > #entrar:hover {
    background-color: #a10e09;
    color: #9e9d9d;
}